p {height: 50px;
width: 100%;
color:#e92a08;
border: 4px solid green;
border-radius: 5px;
background-color: greenyellow;
margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 150px;
 margin-left: 80px;

}

div {
    padding: 130px;
    border: 2px solid #4CAF50;
   }

